<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noviny</title>
</head>
<body>
    <%- include("../www/hlavicka.ejs") -%>

    <article>
        <a href="/main/redakce_heslo">Redakce</a>
        <h2>články</h2>
        <main class="main">
            <% for(let i in clanky){ %>
                <div class="clanky" id="<%= clanky[i].id %>" onclick="location.href='/main/detail/<%= clanky[i].id %>'"> <%= clanky[i].nadpis %></div>
            <% } %>
        </main>
    </article>

    <%- include("../www/paticka.ejs") -%>
</body>
</html>